@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Bienale Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../public/fonts/Biennale\ Regular.otf') format('opentype');
}

html, body {
    height: 100%;
    font-family: 'Bienale Regular';
}

#__next {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 0px;
}

@import './config.scss';
@import './global-forms.scss';
@import './header.scss';
@import './filtros.scss';
@import './list.scss';
@import './item.scss';
@import './footer.scss';
@import './modal.scss';

input, select {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: $primaryColor;
    min-width: 180px;
    background-color: transparent;
    font-family: 'Biennale Regular';

    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.01em;
    border-color: $mediumGrayColor;

    outline: none;

    cursor: pointer;

    &:focus {
        border-color: $primaryColor;
    }

    &::placeholder {
        color: $mediumGrayColor;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $mediumGrayColor;
    }

    &::-ms-input-placeholder {
        color: $mediumGrayColor;
    }

    @media screen and (min-width:1024px) {
        input, select {
            border-top-width: 1px;
            border-left-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-radius: 8px;
            padding: 5px;
            outline: none;
        }
    }
}
