@import "./config.scss";

.container-form {
  .logo {
    width: 178.35px;
    display: block;
    margin: 0 auto 40px;
  }

  p {
      text-align: center;
      color: $darkGrayColor;
      font-weight: bold;
      max-width: 300px;

      &.success {
        color: green;
      }

      &.error {
        color: $errorColor;
      }
      &.clickable {
        cursor: pointer;
      }
  }

  .input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    img {
      width: 20px;
      margin-right: 10px;
      margin-top: -10px;
    }

    input {
      width: 224px;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: $primaryColor;
      border-radius: 0;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0.1em;
      border-color: $mediumGrayColor;
      padding-bottom: 8px;
      outline: none;

      &:focus {
        border-color: $primaryColor;
      }

      &::placeholder {
        color: $mediumGrayColor;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $mediumGrayColor;
      }

      &::-ms-input-placeholder {
        color: $mediumGrayColor;
      }
    }

  }

  .showPassword {
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
  }

  button {
    width: 100%;
    height: 56px;
    background-color: $primaryColor;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    border-color: $primaryColor;
    margin-top: 30px;
    border-style: solid;

    &:disabled {
        background-color: $mediumGrayColor;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    p {
        max-width: none;
    }

    .logo {
      width: 520px;
      margin: 0;
    }

    form {
      border-style: solid;
      border-color: $primaryColor;
      border-width: 0.1em;
      border-radius: 32px;
      padding: 80px 40px;

      .input {
        img {
          width: 20px;
        }

        input {
          width: 343px;
        }
      }
    }
  }

  .registry-link {
    margin: 1em 0;
    color: $primaryColor;
    cursor: pointer;
  }
}
